*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body{
  font-family:'Roboto', sans-serif;
  font-weight:300;
}

img{
  width:100%;
  height:100%;
  object-fit: cover;
  /* height:40%; */
  transition: all 0.3s;
}

h1{
  font-weight:500;
  margin-bottom: 10px;
}
h2{
  color:orangered;
  font-weight:300;
  margin-bottom: 10px;
}

.time{
  width:60px;
  height:60px;
  border-radius:50%;
  background-color:orangered;
  color: #fff;
  text-align: center;
  line-height:30px;
  font-weight: 500;
  position:absolute;
  top:25px;
  right:25px;
  z-index: 10;
  
}
.card{

  position: relative;

  width:420px;
  height:550px;
  margin:100px 100px;
  /* overflow: hidden; */

  box-shadow: 0 0 5px 0 rgb(0 0 0 / 25%);

}

.card:hover .img{
  height:40%;
  
}

@keyframes display {
	0% {
		opacity: 0;
    /* display:none; */
		
	}

  50%{
    opacity: 0.5;
  }

	100% {
		opacity: 1;
		/* display: block; */
	}
}

.card:hover .text{
  /* transform: translateY(0);
  display:block;
  animation: display 2s; */

  height:131px;
  
}

/* .card:hover .text-1{
  display:block;
} */
.card:hover img{
  transform: Scale(1.5);
  opacity: 0.5;
}

.img{
  /* width: 100%; */
  height:50%;
  position: relative;
  overflow: hidden;

  transition: all 0.5s;
}

.body-card{
  position: relative;
  overflow: hidden;
}


.content{
  padding: 30px ;
  /* position: relative; */
  /* overflow: hidden; */
}

/* .text-1{
  display: none;
} */
.text{
  position: relative;
  
  margin-top: 15px;
  margin-bottom: 10px;
  font-size:1.2rem;
  line-height:1.7;
  /* transform: translateY(150px); */
  transition: all 0.5s ease-in-out;
  /* transition-delay: 1s; */
  color: #464646;

  height: 0;
  overflow: hidden;


  /* visibility: hidden; */
  /* display:none; */
  
  
}

.photos{
 display: inline-block;
  background-color: orangered;
  color:#fff;
  padding: 10px 20px;
  position:absolute;
  bottom: 0;
  left:0;
  font-weight: 500;
  /* z-index: 2; */
  
}

.time-cmt{
  
 
  display:flex;
  justify-content:space-between;

  font-weight: 100;
  color: #464646;
  opacity: 0.5;

  margin-top: 20px;
  margin-right: 80px;
  /* position: absolute; */
  /* bottom:20px; */

  transition: all 0.5s;

  
}

.card:hover .time-cmt{

}




