*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2{
  font-size:48px;
  text-transform: uppercase;
  font-weight:100;
  line-height: 1.1;
}
a{
  text-decoration: none;
  color: #956fe5;
}

.all{
  width: 662px;
  height:592px;
  background-color: #956fe5;
  margin: 30px 30px;
 
}
.container{
  position: absolute;
  font-family:'Roboto', sans-serif;
width: 642px;
padding: 50px;
background-color: #fff;
margin: 10px 10px;

}

.title{
  text-align: center;
}
.text-a{
  margin: 20px 0 0;
}
.text{
  text-align: center;
}
.text-2{
  padding : 0 10px;
}

p{
  margin-block-start: .1em;
    margin-block-end: 1em;
    color: #111111;
    font-weight: 100;
}
input{
  width: 470px;
  padding : 10px 12px;
  
}

textarea{
  padding : 10px 12px;
  width: 470px;
}

.form{
  display: grid;
  justify-content:center;
  
  
}

.btn{
  width:20px;
}

.enter{
  margin: 10px 0;
}

.btn-submit{

margin: 10px 0;
text-align: center;

}
button{
 
  padding: 10px 30px;
  background-color: #956FE5;
  color: #fff;
  border:none;
  
}


