* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: azure;

  /* height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */

  color: #757575;
}

a {
  text-decoration: none;
  color: #757575;
}

ul {
  list-style-type: none;
}

.title {
  /* margin-bottom: 20px; */
  margin: 20px 30px;
}

.menu {
  /* background-color: #fff; */
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 25%);
  display: inline-block;
  margin-left: 30px;
  
}
.menu-item {
  width: 200px;
  /* position: relative; */

 
  
}

.menu-item p {
  padding-left: 8px;
  padding-right: 8px;
  height: 27px;
  line-height: 27px;
  text-decoration: none;
  font-size: 13px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  /* background-color: rgb(245,245,245); */
  background-color:#fff;
  
}

.menu-item li p>a {
  max-width:170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  
}

.menu-item p .icon {
  display: none;
}
/* .menu-item-1 p .icon {
  display: none;
} */


.menu-item:hover > p,
.menu-item:hover > p a {
  color: chocolate;
}

/* .menu-item-1:hover > p,
.menu-item-1:hover > p a {
  color: chocolate;
} */

.menu-item:hover > p .icon,
.menu-item:hover > p .icon {
  display: inline-block;
  color: chocolate;
}
.menu-item-1:hover > p .icon,
.menu-item-1:hover > p .icon {
  display: inline-block;
  color: chocolate;
}

.sub-menu{
  width: 200px;
  position: absolute;
  top: 68px;
  left: 230px;
  background-color: #fff;
  display: none;
  height: 189px;
  /* margin: 0 2px; */
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 25%);
  
}

.sub-menu-1{
  position: absolute;
  top: 0;
  left: 200px;
  background-color: #fff;
  display: none;
  height: 189px;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 25%);
}

.menu-item:hover .sub-menu {
  display: block;
  
}
.menu-item-1:hover .sub-menu-1{
  display: block;
}
li:hover{
  background-color: #rgb(245,245,245)
}

/* li:hover .menu-item>p{
  background-color: rgb(245,245,245);
} */