*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family:'Roboto', sans-serif;
  font-weight: 400;
  color:#464646;
  line-height:1.5;

  background-color: #f4f7fa;
  /* background-color: #464646; */
}
a{
  text-decoration: none;
  cursor: pointer;
}
.course-thumbnail img{
  width: 100%;
  height: 100%;
  
 
 
  
  
}
.container{
  max-width: 1200px;
  margin: 100px auto;
  display: flex;
 

  
}
.body-part{
  min-width: 250px;
  margin-right: 10px;
}
.body-part input{
  padding: 10px
}
.sticky{
  position:sticky;
  top:20px;
}
.sticky>p{
  font-size:1.4rem;
}
.sticky>p,.radio>div{
  margin-bottom: 16px;
}
.list-courses{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap:2rem 2rem;
}
.list-courses a {
  color: #464646;
}
.tech-card{
  background-color: #fff;
  border-radius:8px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 15%);
}
.course-thumbnail{
  height:60%;
  
}

.class-info{
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 1.5rem 0;
  
}

.course-title, .course-description{
  margin: 0 0 16px;
}
.course-title{
  width: 100%;
  font-size:1.2rem;
}
.course-description{
width: 100%;
display: flex;
justify-content:space-between;
font-size:0.9rem;
color: #757575;
font-weight:lighter;
}


ul {
  list-style-type: none;
}
h2 {
  color: #ffffff;
  margin: 0 0 8px;
  font-weight: 300;
  font-size:18px;
}
li {
  color: #919294;
}
.footer a {
  text-decoration: none;
  color: #ffffff;
}
.footer a:hover{
  text-decoration: underline;
  color: #919294;
}
/* i:hover {
  color: #919294;
} */

.container-1 {
  background-color: #464646;
}
h2{
  font-weight:400;
}
.footer {
  /* max-width: 1250px;
  font-size: 14px;
  line-height: 2.5em;
  margin: 0 auto;

  padding: 48px 15px; */
}
.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  max-width: 1250px;
  font-size: 14px;
  line-height: 2.5em;
  margin: 0 auto;

  padding: 48px 15px;
}

.row-width {
/*   max-width: 350px; */
  padding: 0 15px;
}

.icon {
  display: flex;
  font-size: 1.5rem;
  gap: 15px;
}


/* --------- */
.header img{
  max-width:100%;
  display: block;
  margin: auto;
}
ul{
  list-style-type: none;
}

.nav{
  background-color: #34455c;
  height: 60px;

  display:flex;
  justify-content:space-between;
  padding: 0 16px;
  
 
}

.logo{
  display: flex;
  align-items: center;
}

.logo img{
  width: 120px;
 
}

.side-bar{
  display: flex;
  align-items: center;
}
.menu{
  
}

.menu > ul{
  display: flex;
  
}

.menu>ul>li{
  color: #fff;
  margin: 0 16px;
  height:60px;
  position: relative;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.menu>ul>li:hover {
  color: #c4c4c4;
}

.menu>ul>li:hover .sub-menu{
  display:block;
}

.menu span{
  margin-left: 5px;
}

.avatar{
  width: 32px;
  height: 32px;
  border-radius:50%;
  overflow: hidden;
}

.sub-menu{
  position: absolute;
  box-shadow: 0 0 10px rgb(0 0 0 /15%);
  width:200px;
  right: 0;
  top: 100%;
  text-transform: capitalize;

  display: none;
  font-size: 0.9rem;
  
  background-color:#fff;
}

.sub-menu li{
  color:#000;
  padding: 0.7rem 1rem;
  text-align:center;
  width: 100%;
  
}
.sub-menu li:hover{
  background-color: #c4c4c4;
}

.card{
  position: relative;
}

.card span {
 
  color:#fff;
}

.cart{
  font-size:24px;
}

.card-count{
  position:absolute;
  left:20px;
  top:-10px;
  background-color: #26a69a;
  margin-right: 10px;
  padding: 2px 5px; 
  border-radius: 3px;
}

.avatar{
  margin: 30px;
}

.radio{
  font-size: 20px;
}


.messenger{
  position:sticky;
  
  
  bottom:100px;
  
  right:100px;
  
   

}

.messenger i {
  position:sticky;

  color: blue;
  font-size:60px;
  padding-left: 92%;
  
  
}
