*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family:'Roboto', sans-serif;
  font-weight: 400;
  color:#464646;
  line-height:1.5;
}
a{
  text-decoration: none;
  cursor: pointer;
}
.course-thumbnail img{
  width: 100%;
  height: 100%;
  
 
 
  
  
}
.container{
  max-width: 1200px;
  margin: 100px auto;
}
.list-courses{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap:2rem 2rem;
}
.list-courses a {
  color: #464646;
}
.tech-card{
  background-color: #fff;
  border-radius:8px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 15%);
}
.course-thumbnail{
  height:60%;
  
}

.class-info{
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 1.5rem 0;
  
}

.course-title, .course-description{
  margin: 0 0 16px;
}
.course-title{
  width: 100%;
  font-size:1.2rem;
}
.course-description{
width: 100%;
display: flex;
justify-content:space-between;
font-size:0.9rem;
color: #757575;
font-weight:lighter;
}


ul {
  list-style-type: none;
}
h2 {
  color: #ffffff;
  margin: 0 0 8px;
  font-weight: 300;
  font-size:18px;
}
li {
  color: #919294;
}
.footer a {
  text-decoration: none;
  color: #ffffff;
}
.footer a:hover{
  text-decoration: underline;
  color: #919294;
}
/* i:hover {
  color: #919294;
} */

.container-1 {
  background-color: #464646;
}
h2{
  font-weight:400;
}
.footer {
  /* max-width: 1250px;
  font-size: 14px;
  line-height: 2.5em;
  margin: 0 auto;

  padding: 48px 15px; */
}
.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  max-width: 1250px;
  font-size: 14px;
  line-height: 2.5em;
  margin: 0 auto;

  padding: 48px 15px;
}

.row-width {
/*   max-width: 350px; */
  padding: 0 15px;
}

.icon {
  display: flex;
  font-size: 1.5rem;
  gap: 15px;
}


